<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Fmtss</title>
        <%= stylesheet_link_tag    :all, :media => "all" %>
        <%= javascript_include_tag :all %>
        <%= csrf_meta_tags %>
</head>
<body>
    <%= yield %>
</body>
</html>
